.header__logo {
  transition: all 0.6s;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  color: var(--title-color);
}

.header__logo-blue {
  font-family: "Raleway", sans-serif;
  color: var(--main-color);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot__form input {
  padding-left: 16px;
  outline: none;
  border-radius: 4px;
  width: 358px;
  height: 50px;

  border: rgba(255, 255, 255, 0.03);
}

.foot__form input::placeholder {
  color: #fff;
}

.foot__form button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  padding: 10px 30px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  background-color: var(--main-color);
}
.foot__form {
  display: flex;
  gap: 12px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 93px;
}

.header__menu,
.header__right {
  display: flex;
  gap: 50px;
}

.active {
  position: relative;
  color: var(--main-color) !important;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--main-color);
}

.header__right a {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0, 3s;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  &:hover {
    color: var(--main-color);
  }
  svg {
    display: flex;
    width: 16px;
    height: 12px;
    fill: var(--text-color);
    &hover {
      color: var(--text-color);
    }
  }
  #call {
    width: 12px;
    height: 16px;
    stroke: var(--main-color);
    border-radius: 2px;
    &:hover {
      stroke: var(--main-color);
    }
  }
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__menu a {
  transition: all 0, 6s;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--title-color);
  &:hover {
    color: var(--main-color);
  }
}

.hero {
  height: calc(100vh - 82.8px);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../img/hero_bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.hero__btn {
  display: block;
  padding: 10px 32px;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--main-color);
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 1px 1px var(--main-color);
  }
}
.advantage__wrapper {
  margin-bottom: 30px;
  padding: 25px 0px;
  text-align: center;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

.advantage__item {
  max-width: 270px;
}

.advantage__item h2 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.advantage__item p {
  hyphens: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.work__wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.work__wrapper,
.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team {
  padding: 94px 0;
  background: #f5f4fa;
}

.team__item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 2px 0 rgb(0, 0, 0, 4);
  background-color: #fff;
}

.team__text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

.team__subtitle {
  margin-bottom: 30px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

.foot {
  padding: 60px 0;
  background: #2f303a;
}

.foot__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  span {
    color: #fff;
  }
  &:hover {
    transform: scale(1.1);
  }
}

.foot__info {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  address {
    font-style: normal;
    color: #fff;
  }
  a {
    color: var(--text-color);
  }
}

.logo:hover {
  transform: scale(1.1);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container3 {
  width: 1200px;
  margin: 0 auto;
}

.project-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--title-color);
}

.project {
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-color);
}

.portfolio__item {
  position: relative;
  border: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  h3 {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: #212121;
  }
}

.portfolio__text {
  margin-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio__sort {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
  button {
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-color);
    background: #f5f4fa;
    &:hover {
      background-color: var(--main-color);
      color: #fff;
    }
  }
}
.portfolio__bg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-duration: 0.5s;
  visibility: hidden;
  padding: 64px 24px;
  max-width: 370px;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
}

.portfolio__item:hover .portfolio__bg {
  transform: translateY(0);
  visibility: visible;
}

.team__links {
  display: flex;
  justify-content: center;
  gap: 18px;
  padding: 20px 0;
}

.team__links a {
  border-radius: 50%;
  padding: 5px;
}

.team__links a:hover {
  background-color: var(--main-color);
}

.team__icon {
  width: 20px;
  height: 20px;
}

.team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  fill: #afb1b8 !important;
}

.team__link:hover {
  background-color: var(--main-color) !important;
}

.team__link:hover .team__icon {
  fill: #fff !important;
}

.clients__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.clients__link {
  display: block;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  border-radius: 4px;
  fill: #afb1b8 !important;
}

.clients__icon {
  width: 106px;
  height: 60px;
}

.clients__link:hover {
  border: 1px solid var(--main-color);
}

.clients__link:hover .clients__icon {
  fill: var(--main-color) !important;
}

.foot__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.foot__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.foot__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  padding: 25px 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  height: 580px;
  background-color: #fff;
}

.modal__btn {
  padding: 10px 10px;
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.modal__close-icon {
  fill: #000;
  width: 11px;
  height: 11px;
}

.modal__btn::hover modal__close-icon {
  fill: var(--main-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal__icon {
  position: absolute;
  top: 25px;
  left: 16px;
  width: 18px;
  height: 18px;
}

.modal__input {
  margin-top: 4px;
  padding-left: 40px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  height: 40px;
}

.modal__label textarea {
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
}

.modal__form {
  margin-bottom: 20px;
}

.modal__box {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.modal__condition {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
}

.modal__send-btn {
  display: block;
  margin: 0 auto;
  margin-top: 42px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 55px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  background-color: var(--main-color);
}

.hidden {
  display: none;
}

.header__icon {
  width: 48px;
  height: 48px;
}

.header__btn {
  display: none;
}

@media screen and (max-width: 480px) {
  .header__btn {
    display: block;
    cursor: pointer;
    background-color: transparent;
  }
  .hidd {
    display: none;
  }
  .hero {
    height: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: url(../img/header_bg_sm.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__title {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 162%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  .modal {
    padding: 15px 25px;
    width: 530px;
    height: 580px;
  }
  .advantage__item {
    max-width: 100%;
  }

  .work {
    display: none;
  }

  .team__item {
    width: 100%;
  }

  .team__item img {
    width: 100% !important;
  }

  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .foot__form,
  .foot__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .foot__text {
    text-align: center;
  }

  .foot__iner:first-child {
    margin-bottom: 40px;
  }

  .foot__inner a,
  .foot__inner address {
    text-align: center;
  }

  .foot__logo {
    display: block;
    text-align: center;
  }
}
